{% extends 'cruds/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crud_tags %}
{% load static %}
{% load personnel_tags %}
{% block title %}Kullanıcı Yönetimi{% endblock %}

{% block page_name %}Kullanıcı Yönetimi{% endblock %}
{% block page_description %}Dashboard{% endblock %}

{% block bodyclass %}skin-blue {%if config.hide_sidebar %}sidebar-collapse{%endif%} {% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/portunes/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Identifier</li>
</ol>
{% endblock %}

{% block content %}
  {% if crud_perms.list %}
        <a href="{{ url_list }}{{getparams}}" class="btn btn-info">
            <i class="fa fa-angle-double-left"></i>
            {{ model_verbose_name_plural }}{% trans " listesine dön" %}
        </a>
  {% endif %}

  <h1>{{ object }}</h1><h2> {% trans " kullanıcısını silmek istiyor musunuz" %}?</h2>
  <div class="alert alert-warning">
  <strong>Uyarı!</strong> <p>Eğer LDAP yetkilendirmesi kullanıyorsanız, kullanıcıyı silmek ldap yetkilerini de silmez.<br>
    Ldap yetki sayfasından ldap yetkilerini de siliniz.</p>
</div>


  <form action="{{ url_delete }}{{getparams}}" method="POST">
    {% csrf_token %}

    <p>
      <button type="submit" class="btn btn-danger">{% trans "Onayla" %}</button>
    </p>
  </form>
{% endblock %}
