{% extends 'cruds/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crud_tags %}
{% load static %}
{% load personnel_tags %}
{% block title %}User Management{% endblock %}

{% block page_name %}User Management{% endblock %}
{% block page_description %}Dashboard{% endblock %}

{% block bodyclass %}skin-blue {%if config.hide_sidebar %}sidebar-collapse{%endif%} {% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="active"><a href="/personnel/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
</ol>
{% endblock %}

{% block content %}
<!-- Small boxes (Stat box) -->
<div class="row">
  <div class="col-md-10">

        {%for personnel_type in personnel_types %}
        <div class="col-md-4">
        <div class="info-box">
            <a href="/personnel/personnel/list?name=&personnel_type={{personnel_type.id}}" class="small-box-footer">
            <span class="info-box-icon {{ personnel_type.color }}"><i class="fa {{ personnel_type.icon }}"></i></span>
            </a>
            <div class="info-box-content">
              <span class="info-box-number">{{personnel_type}}</span>
              <span class="info-box-text">Total: {{ personnel_type.total }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </div>
        {%endfor%}


  </div>
  <div class="col-md-2">
    <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Last Users</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          {%last_personnels 10 as last_personnels%}
          {%for personnel in last_personnels%}
            <div class="icon">
              <i class="fa {{personnel.personnel_type.icon}}"> -
                <a href="/personnel/personnel/{{personnel.id}}">{{personnel}}</a>
              </i>
            </div>
          {%endfor%}
        </div>
    </div>
  <!-- ./col -->
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Annual Leaves</h3>
          <div class="box-tools pull-right">
                <a href="/personnel/annual_leave/list" class="btn btn-primary align-text-right">Calender View</a>
              </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            {% get_annual_leaves request as annual_leaves%}
            <table id="datatable" class="table table-responsive table-bordered table-hover">
              <thead>
                <tr><th class="th-field-name th-fieldtype-foreignkey">Personnel</th>
                  <th class="th-field-surname th-fieldtype-datetimefield">Start Date</th>
                  <th class="th-field-personnel_type th-fieldtype-datetimefield">End Date</th>
                  <th class="th-field-nat_id th-fieldtype-charfield">Approved</th>
                  <th class="th-field-user th-fieldtype-charfield">Action</th>
                </tr></thead>
              <tbody>
                {%for annual_leave in annual_leaves%}
                  <tr>
                    <td class="td-field-name td-fieldtype-charfield">
                          {{annual_leave.user.get_full_name}}
                    </td>
                    <td class="td-field-surname td-fieldtype-charfield">
                    {{annual_leave.start_date}}
                    </td>
                    <td class="td-field-personnel_type td-fieldtype-foreignkey">
                      {{annual_leave.end_date}}
                    </td>
                    <td class="td-field-nat_id td-fieldtype-charfield">
                      <input class="checkbox" name="approved" value="16" id="16" type="checkbox" {%if annual_leave.approved%}checked{%endif%}>
                    </td>
                    <td class="td-field-user td-fieldtype-onetoonefield">
                      <a href="/personnel/annual_leave/{{annual_leave.id}}/update" class="btn btn-primary btn-xs">Update</button>
                      <a href="/personnel/annual_leave/{{annual_leave.id}}/delete" class="btn btn-danger btn-xs">Delete</button>
                    </td>
                  </tr>
                {%endfor%}
              </tbody>
            </table>
        </div>
    </div>
  <!-- ./col -->
  </div>
  <div class="col-md-6">
    <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Uncategorized Users</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          {%for personnel in personnels%}
            {%if personnel.personnel_type is None %}
              <div class="icon">
                <i class="fa fa-user">
                  <a href="/personnel/personnel/{{personnel.id}}">{{personnel.user.username}}</a>
                </i>
              </div>
            {%endif%}
          {%endfor%}
        </div>
    </div>
  <!-- ./col -->
  </div>

</div>

{% endblock %}
