{% extends 'cruds/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crud_tags %}
{% load static %}
{% load detail_tags %}
{% load project_tags%}

{% block title %}Project{% endblock %}

{% block page_name %}Project{% endblock %}
{% block page_description %}Ganttchart{% endblock %}

{% block bodyclass %}skin-yellow {%if config.hide_sidebar %}sidebar-collapse{%endif%} {% endblock %}

{% block css %}
{% endblock css %}

{% block js %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['gantt']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Task ID');
      data.addColumn('string', 'Task Name');
      data.addColumn('string', 'Status');
      data.addColumn('date', 'Start Date');
      data.addColumn('date', 'End Date');
      data.addColumn('number', 'Duration');
      data.addColumn('number', 'Percent Done');
      data.addColumn('string', 'Dependencies');
      data.addColumn('string', 'Project');
      data.addColumn('string', 'Owner');

      {%for task in tasks%}
      data.addRows([
        ['{{task.id}}', '{{task.name}}', '{{task.task_type}}',
         new Date({{ task.start_date|date:"Y" }},{{ task.start_date|date:"m" }},{{ task.start_date|date:"d" }},
         {{ task.start_date|date:"H" }},{{ task.start_date|date:"i" }}),
         new Date({{ task.end_date|date:"Y" }},{{ task.end_date|date:"m" }},{{ task.end_date|date:"d" }},
         {{ task.end_date|date:"H" }},{{ task.end_date|date:"i" }}),
          null, {{task.percent_done}}, null,'{{task.project}}','{{task.owner}}'],
      ]);
      {%endfor%}



      var options = {
        height: 400,
        gantt: {
          trackHeight: 30
        }
      };

      var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

      chart.draw(data, options);

      google.visualization.events.addListener(chart, 'select', selectHandler);
      function selectHandler() {
        var selection = chart.getSelection();
        var message = '';
        for (var i = 0; i < selection.length; i++) {
          var item = selection[i];
          if (item.row != null) {
            var task_id = data.getFormattedValue(item.row, 0);
            var task_name = data.getFormattedValue(item.row, 1);
            var task_status = data.getFormattedValue(item.row, 2);
            var task_start = data.getFormattedValue(item.row, 3);
            var task_end = data.getFormattedValue(item.row, 4);
            var task_owner = data.getFormattedValue(item.row, 9);
            var task_percent = data.getFormattedValue(item.row, 6);
            var task_dependencies = data.getFormattedValue(item.row, 8);
            var task_url = '<a href="/project/task/'+task_id+'" class="btn btn-primary" role="button">Details</a>';
            //message += 'Task id: ' + str + '\n';
            //{% get_task 1 as task%}
            //alert('You selected ' + message);
            document.getElementById("task_id").innerHTML = task_id;
            document.getElementById("task_name").innerHTML = task_name;
            document.getElementById("task_status").innerHTML = task_status;
            document.getElementById("task_start").innerHTML = task_start;
            document.getElementById("task_end").innerHTML = task_end;
            document.getElementById("task_owner").innerHTML = task_owner;
            document.getElementById("task_percent").innerHTML = task_percent;
            document.getElementById("task_dependencies").innerHTML = task_dependencies;
            document.getElementById("task_url").innerHTML = task_url;
            $("#taskModal").modal()
          }
        }

      }

    }


  </script>
{% endblock js %}
{% block content %}
<!-- Small boxes (Stat box) -->
<div class="row">
        <div class="col-md-10">
          <div class="box box-default">
              <div class="box-header with-border">
                <h3 class="box-title">Tasks</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="row-fluid" style="margin:0 !important;">
                  <div class="col-md-12">
                    <div id="chart_div" style="width: 100%;min-height: 200px;"></div>
                  </div>
                  </div>
                </div>
              </div>
          </div>
        <!-- ./col -->
        </div>
</div>

 <!-- Modal -->
 <div class="modal fade" id="taskModal" role="dialog">

   <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span><span id="task_id"></span></h4>
       </div>
       <div class="modal-body">
         <h4 style="color:red;"><span id="task_name"></span></h4>
         <h4 style="color:red;"><span id="task_status"></span></h4>
         <h4 style="color:red;"><span id="task_start"></span></h4>
         <h4 style="color:red;"><span id="task_end"></span></h4>
         <h4 style="color:red;"><span id="task_percent"></span></h4>
         <h4 style="color:red;"><span id="task_owner"></span></h4>
         <h4 style="color:red;"><span id="task_dependencies"></span></h4>
       </div>
       <div class="modal-footer">
         <div id="task_url"></div>
       </div>
     </div>
   </div>
 </div>
{% endblock %}
