{% extends 'cruds/base.html' %}
{% load i18n %}
{% load crud_tags %}
{% load static %}
{% load portunes_tags %}
{% block title %}Portunes Access Control{% endblock %}

{% block page_name %}Portunes Access Control{% endblock %}
{% block page_description %}Details{% endblock %}

{% block bodyclass %}skin-purple {%if config.hide_sidebar %}sidebar-collapse{%endif%} {% endblock %}

{% block page_stylesheets %}
<!-- ChartJS 1.0.1 -->
<script src="{% static 'plugins/chartjs/Chart.min.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="https://previews.123rf.com/images/sn333g/sn333g1508/sn333g150800064/43939444-door-icon-or-logo-vector-black-open-door-symbol.jpg" alt="Fotoğraf">

          <h3 class="profile-username text-center">{{ object.name }}</h3>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Controller</b> <a class="pull-right">{{ object.entrance.name }}</a>
            </li>
            <li class="list-group-item">
              <b>Pin</b> <a class="pull-right">{{ object.entrance_controller_pin }}</a>
            </li>
          </ul>
          <div class="col-md-12 col-lg-12 " align="center">
          <a href="/portunes/door/{{object.id}}/update" class="btn btn-warning" align="center">Update Details</a>
            </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <!-- About Me Box -->
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#permissions" data-toggle="tab">Permissions</a></li>

          </ul>

          <div class="tab-content">

              <div class="active tab-pane" id="permissions">
                  <div class="box-body">
                      <div class="row">
                        <table class="table table-bordered text-center">
                        <tbody>
                        <ul>
                        {% door_permission_users object.id as permissions %}
                        {% all_users as users %}
                        <form action="" method="post" name="form" id="form">
                          {% csrf_token %}
                         {% for user in users %}
                          <li class="fa fa-user" >
                            <input type="checkbox" name="permissions" value="{{user.id}}" id="{{user}}"> {{user.first_name}} {{user.last_name}}
                          </li>
                          <br>
                          {% endfor %}

                      </ul>
                    </tbody></table>
                      <div class="box-footer">
                        <button type="submit" name="savepermission" value="savepermission" class="btn btn-primary">Kaydet</button>
                        <button type="submit" name="clearpermission" value="clearpermission" class="btn btn-danger">Yetkileri sil</button>
                      </div>
                      </form>
                      </div>
                  </div>
              </div>
          </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
{% endblock %}
