{% extends 'cruds/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crud_tags %}
{% load static %}

{% block title %}TARLA Web Services{% endblock %}

{% block page_name %}TARLA Web Services{% endblock %}
{% block page_description %}Login{% endblock %}

{% block bodyclass %}skin-blue {%if config.hide_sidebar %}sidebar-collapse{%endif%} {% endblock %}

{% block content %}
<!-- Small boxes (Stat box) -->
<div class="row">
  <div class="col-md-12">


        <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-blue">
          <div class="inner">
            <h3>Kullanıcı</h3>

            <h4>Yönetimi</h4>
          </div>
          <div class="icon">
            <i class="fa fa-users"></i>
          </div>
          <a href="/personnel/" class="small-box-footer">Login <i class="fa fa-arrow-circle-right"></i></a>
        </div>
        </div>
        <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
          <div class="inner">
            <h3>İhale</h3>

            <h4>Yönetimi</h4>
          </div>
          <div class="icon">
            <i class="fa fa-edit"></i>
          </div>
          <a href="/procurement/" class="small-box-footer">Login <i class="fa fa-arrow-circle-right"></i></a>
        </div>
        </div>





  </div>
  <div class="col-md-12">
    <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">TARLA Web Services</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <p>You can login with your TARLA account to different web services.<br>
            If you don't have permission to use services contact with IT department via
            <a href="mailto:it@tarla.org.tr">it@tarla.org.tr</a> 
          </p>
        </div>
    </div>
  <!-- ./col -->
  </div>

</div>

{% endblock %}
