{% extends 'cruds/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crud_tags %}
{% load static %}

{% block title %}TARLA Web Services{% endblock %}

{% block page_name %}TARLA Web Services{% endblock %}
{% block page_description %}Login{% endblock %}

{% block bodyclass %}skin-blue {%if config.hide_sidebar %}sidebar-collapse{%endif%} {% endblock %}

{% block content %}
<!-- Small boxes (Stat box) -->
<div class="row">
  <div class="col-md-12">


        <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-blue">
          <div class="inner">
            <h3>User</h3>

            <h4>Management</h4>
          </div>
          <div class="icon">
            <i class="fa fa-users"></i>
          </div>
          <a href="/personnel/" class="small-box-footer">Login <i class="fa fa-arrow-circle-right"></i></a>
        </div>
        </div>
        <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>Indico</h3>

            <h4>Conference</h4>
          </div>
          <div class="icon">
            <i class="fa fa-linkedin"></i>
          </div>
          <a href="http://indico.tarla.org.tr" class="small-box-footer">Login <i class="fa fa-arrow-circle-right"></i></a>
        </div>
        </div>
        <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
          <div class="inner">
            <h3>Tender</h3>

            <h4>Management</h4>
          </div>
          <div class="icon">
            <i class="fa fa-edit"></i>
          </div>
          <a href="/procurement/" class="small-box-footer">Login <i class="fa fa-arrow-circle-right"></i></a>
        </div>
        </div>
        <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-purple">
          <div class="inner">
            <h3>Access</h3>

            <h4>Control</h4>
          </div>
          <div class="icon">
            <i class="fa fa-key"></i>
          </div>
          <a href="/portunes/" class="small-box-footer">Login <i class="fa fa-arrow-circle-right"></i></a>
        </div>
        </div>

        <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>Project</h3>

            <h4>Management</h4>
          </div>
          <div class="icon">
            <i class="fa fa-calendar"></i>
          </div>
          <a href="/project/" class="small-box-footer">Login <i class="fa fa-arrow-circle-right"></i></a>
        </div>
        </div>

        <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
          <div class="inner">
            <h3>Inventory</h3>

            <h4>Management</h4>
          </div>
          <div class="icon">
            <i class="fa fa-cart-plus"></i>
          </div>
          <a href="/project/" class="small-box-footer">Login <i class="fa fa-arrow-circle-right"></i></a>
        </div>
        </div>


  </div>
  <div class="col-md-12">
    <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">TARLA Web Services</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <p>You can login with your TARLA account to different web services.<br>
            If you don't have permission to use services contact with IT department via
            <a href="mailto:it@tarla.org.tr">it@tarla.org.tr</a>
          </p>
        </div>
    </div>
  <!-- ./col -->
  </div>

</div>

{% endblock %}
