{% extends 'janus/index.html' %}
{% load static %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Kapı Kontrolcüleri Durumları
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i>Ana Sayfa</a></li>
    <li>Kapı Kontrolcüleri Durumları</li>
  </ol>
</section>

            <div class="box-header">
              <table>

                </table>
            </div>
            <div class="box-body pad table-responsive">
              <table class="table table-bordered text-center">
                <tbody>
                  {% for controller in controllers %}
                  {% cycle '<tr>' '' '' %}
                    {%if controller.health == True%}
                      <td>
                        <a href="/controllers/detail/{{controller.mac}}">
                          <button type="button" class="btn btn-block btn-success btn-lg">{{controller.name}}</button>
                        </a>
                      </td>
                    {%endif%}
                    {%if controller.health == False%}
                      <td>
                        <a href="/controllers/detail/{{controller.mac}}">
                          <button type="button" class="btn btn-block btn-danger btn-lg">{{controller.name}}</button>
                        </a>
                      </td>
                    {%endif%}
                  {% cycle '' '' '</tr>' %}
                  {% endfor %}
              </tbody></table>
            </div>
            <!-- /.box -->


{% endblock %}
<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<!-- SlimScroll -->
<script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
