{% extends template_father %}
{% load i18n %}
{% load crud_tags %}

{% block title %} {{ model_verbose_name }}{% trans " Create" %}{% endblock %}
{% block bodyclass %}skin-yellow {%if config.hide_sidebar %}sidebar-collapse{%endif%} {% endblock %}
{% block page_name %}{{ model_verbose_name_plural }}{% endblock %}
{% block page_description %}{{ model_verbose_name }}{% trans " create" %}{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/project/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Task</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        {% if crud_perms.list %}
        <a href="/project/" class="btn btn-info">
            <i class="fa fa-angle-double-left"></i>
            {% trans "Back to Dashboard" %}
        </a>
        {% endif %}
        <br /><br />
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{% trans "New" %} {{ model_verbose_name }}</h3>
            </div>
            {% include "cruds/_form.html" with action='create' %}
        </div>
    </div>
</div>
{% endblock %}
