{% extends template_father %}
{% load i18n %}
{% load crud_tags %}
{% load project_tags%}

{% block title %} {% get_project request.GET.project %} - {{ model_verbose_name_plural }}{% trans " list" %}{% endblock %}
{% block bodyclass %}skin-yellow {%if config.hide_sidebar %}sidebar-collapse{%endif%} {% endblock %}
{% block page_name %}{% get_project request.GET.project %}{% endblock %}
{% block page_description %}{{ model_verbose_name_plural }}{% trans " list" %}{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/project/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Task</li>
</ol>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['gantt']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Task ID');
      data.addColumn('string', 'Task Name');
      data.addColumn('string', 'Status');
      data.addColumn('date', 'Start Date');
      data.addColumn('date', 'End Date');
      data.addColumn('number', 'Duration');
      data.addColumn('number', 'Percent Done');
      data.addColumn('string', 'Dependencies');
      data.addColumn('string', 'Project');
      data.addColumn('string', 'In charge User');

      // SUB TASKS
      {%for task in object_list%}
      data.addRows([
        ['{{task.id}}', '{{task.name}}', '{{task.task_type}}',
         new Date({{ task.start_date|date:"Y" }},{{ task.start_date|date:"m"|add:-1 }},{{ task.start_date|date:"d" }},
         {{ task.start_date|date:"H" }},{{ task.start_date|date:"i" }}),
         new Date({{ task.end_date|date:"Y" }},{{ task.end_date|date:"m"|add:-1 }},{{ task.end_date|date:"d" }},
         {{ task.end_date|date:"H" }},{{ task.end_date|date:"i" }}),
          null, {{task.percent_done}}, null,'{{task.project}}','{{task.inchargeuser}}'],
      ]);
      {%endfor%}

      var height = data.getNumberOfRows() * 41 + 30;
      if (height < 250){
        height = 250;
      }
      var options = {
        height: height,
        width: "100%",
        gantt: {
          trackHeight: 30
        }
      };

      var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

      chart.draw(data, options);

      google.visualization.events.addListener(chart, 'select', selectHandler);
      function selectHandler() {
        var selection = chart.getSelection();
        var message = '';
        for (var i = 0; i < selection.length; i++) {
          var item = selection[i];
          if (item.row != null) {
            var task_id = data.getFormattedValue(item.row, 0);
            var task_name = data.getFormattedValue(item.row, 1);
            var task_status = data.getFormattedValue(item.row, 2);
            var task_start = data.getFormattedValue(item.row, 3);
            var task_end = data.getFormattedValue(item.row, 4);
            var task_inchargeuser = data.getFormattedValue(item.row, 9);
            var task_percent = data.getFormattedValue(item.row, 6);
            var task_dependencies = data.getFormattedValue(item.row, 8);
            var task_url = '<a href="/project/task/'+task_id+'?" class="btn btn-primary" role="button">Details</a>';
            //message += 'Task id: ' + str + '\n';
            //{% get_task 1 as task%}
            //alert('You selected ' + message);
            //document.getElementById("task_id").innerHTML = task_id;
            document.getElementById("task_name").innerHTML = task_name;
            document.getElementById("task_status").innerHTML = task_status;
            document.getElementById("task_start").innerHTML = task_start;
            document.getElementById("task_end").innerHTML = task_end;
            //document.getElementById("task_owner").innerHTML = task_owner;
            //document.getElementById("task_percent").innerHTML = task_percent;
            //$('#progressbar').attr('aria-valuenow',task_percent);
            //$('#progressbar').attr('width',task_percent);
            $('#progressbar').attr('aria-valuenow', task_percent+'%').css('width',task_percent+'%');





            document.getElementById("task_dependencies").innerHTML = task_dependencies;
            document.getElementById("task_url").innerHTML = task_url;
            $("#taskModal").modal()
          }
        }

      }

    }


  </script>
{% endblock js %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header with-border">
              <div class="col-lg-6">
                  {%if object.top_task%}
                  <a href="/project/task/{{object.top_task.id}}" class="btn btn-warning">
                    {% trans "Go Top Task" %}</a>
                  {%else%}
                  <a href="/project/task/list?project={{request.GET.project}}&" class="btn btn-warning">
                    {% trans "Go Project" %}</a>
                  {%endif%}

                  {% crud_url object "update" namespace as url %}
                  {% if url and 'update' in views_available and crud_perms.update %}
                    <a href="{{ url }}{{getparams}}" class="btn btn-primary">
                        {% trans "Update Details" %}</a>
                  {%endif%}
              </div>
              <div class="col-lg-6">
                  {% crud_url object "create" namespace as url %}
                  {% if url and 'create' in views_available and crud_perms.create %}
                    <a data-toggle="modal" href="#subtaskModal" class="btn btn-success" align="center">
                        {% trans "New Task" %}</a>
                  {%endif%}
              </div>
              <h3 class="box-title"></h3>
            </div>
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div id="chart_div" style="width: 100%;min-height:400px;height: auto;"></div>
                      </div>
                    </div>
                <div class="box-footer"></div>
            </div>
        </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="subtaskModal" role="dialog">

      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4>New Task</h4>
          </div>
          <div class="modal-body">
            <form action="/project/task/create?" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="box-body row">
                <div class="col-md-12">
                  <ul class="nav nav-tabs">
                    <li class="tab-pane active">
                      <a href="#details" data-toggle="tab" aria-expanded="true">Details</a>
                    </li>
                    <li class="tab-pane">
                      <a href="#date-time" data-toggle="tab" aria-expanded="false">Date &amp; Time</a>
                    </li>
                    <li class="tab-pane">
                      <a href="#notes" data-toggle="tab" aria-expanded="false">Notes</a>
                    </li>
                  </ul>
                  <div class="tab-content panel-body">
                    <div id="details" class="tab-pane active">
                      <div id="div_id_name" class="form-group col-md-12">
                        <label for="id_name" class="control-label  requiredField">Name<span class="asteriskField">*</span>
                        </label>
                        <div class="controls ">
                          <input name="name" id="id_name" required="" class="textinput textInput form-control" maxlength="50" type="text">
                        </div>
                      </div>

                      <div id="div_id_project" class="form-group col-md-12" hidden="true">
                        <div class="controls">
                          <select name="project" required="" class="select form-control select2-hidden hidden" id="id_project" tabindex="-1" aria-hidden="true">
                            <option value="{{ request.GET.project }}">{{ request.GET.project }}</option>
                          </select>
                        </div>
                      </div>

                      {%get_tasktypes as tasktypes%}
                      <div id="div_id_task_type" class="form-group col-md-12" hidden="true">
                        <div class="controls">
                          <select name="id_task_type" required="" class="select form-control select2-hidden hidden" id="id_task_type" tabindex="-1" aria-hidden="true">
                            {%for task_type in tasktypes%}
                            <option value="{{task_type.id}}">{{task_type}}</option>
                            {%endfor%}
                          </select>
                          <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 398px;">
                            <span class="selection">
                            </span>
                            <span class="dropdown-wrapper" aria-hidden="true">
                            </span>
                          </span>
                        </div>
                      </div>
                      {%get_users as users%}
                      <div id="div_id_inchargeuser" class="form-group col-md-6">
                        <label for="id_inchargeuser" class="control-label ">People in charge</label>
                        <div class="controls ">
                          <select name="inchargeuser" multiple="" class="selectmultiple form-control" id="id_inchargeuser" tabindex="-1" aria-hidden="true">
                            {%for user in users%}
                            <option value="{{user.id}}">{{user.get_full_name}}</option>
                            {%endfor%}
                          </select>
                          <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 398px;">
                            <span class="selection">

                            </span>
                            <span class="dropdown-wrapper" aria-hidden="true">
                            </span>
                          </span>
                        </div>
                      </div>
                    </div>

                    <div id="date-time" class="tab-pane">
                      <div id="div_id_start_date" class="form-group col-md-6">
                        <label for="id_start_date" class="control-label  requiredField">Start date
                          <span class="asteriskField">*</span>
                        </label>
                        <div class="controls ">
                          <script>
                            $(function () {
                              $('.datetimepickerwidget').datetimepicker();
                            });
                          </script>
                          <div class="input-group date">
                            <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                            </div>
                            <input class="datetimepickerwidget form-control" data-date-format="d/m/yyyy h:ii" name="start_date" id="id_start_date" value="{{object.start_date|date:'d/m/Y H:i'}}" type="text">
                          </div>
                        </div>
                      </div>
                      <div id="div_id_end_date" class="form-group col-md-6">
                        <label for="id_end_date" class="control-label  requiredField">End date<span class="asteriskField">*</span>
                        </label>
                        <div class="controls ">
                          <script>
                            $(function () {
                              $('.datetimepickerwidget').datetimepicker();
                            });
                            </script>
                            <div class="input-group date">
                              <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                              </div>
                              <input class="datetimepickerwidget form-control" data-date-format="d/m/yyyy  h:ii" name="end_date" id="id_end_date" value="{{object.end_date|date:'d/m/Y H:i'}}" type="text">
                            </div>
                        </div>
                      </div>

                      <div id="div_id_percent_done" class="form-group col-md-6" hidden="true">
                        <label for="id_percent_done" class="control-label ">Percent done</label>
                        <div class="controls ">
                          <input name="percent_done" value="0" id="id_percent_done" class="numberinput form-control" min="0" type="number">
                        </div>
                      </div>

                      <div id="div_id_status" class="form-group col-md-6" hidden="true">
                        <label for="id_status" class="control-label ">Status</label>
                        <div class="controls ">
                          <select name="status" class="select form-control" id="id_status" tabindex="-1" aria-hidden="true">
                            <option value="1" selected="">Working on</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div id="notes" class="tab-pane">
                      <div id="div_id_description" class="form-group col-md-12">
                        <label for="id_description" class="control-label ">Notes</label>
                        <div class="controls ">
                          <textarea class="ckeditorwidget form-control" cols="40" maxlength="200" rows="10" name="description" id="id_description" style="visibility: hidden; display: none;" lang="tr">
                          </textarea>
                          <div id="cke_id_description" class="cke_1 cke cke_reset cke_chrome cke_editor_id_description cke_ltr cke_browser_gecko" dir="ltr" role="application" aria-labelledby="cke_id_description_arialbl" lang="tr">
                          </div>

                          <script>
                          $(function () {
                            CKEDITOR.replace('id_description', {
                              language: 'en',

                            });

                            CKEDITOR.config.toolbar = [
                              ['Format','Font','FontSize','Bold','Italic','Underline','StrikeThrough','-',
                              'Undo','Redo','-','Cut','Copy','Paste','Find','Replace','-',
                              'Outdent','Indent','-','Print', '-','NumberedList','BulletedList','-',
                              'JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock','-',
                              'Image','Table','-','Link','Smiley'], ['Source']
                            ] ;

                            });
                          </script>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
          </div>
          <div class="modal-footer">
            <div class="form-group">
              <div class="controls ">
                <input name="submit" value="Kaydet" class="btn btn-primary btn btn-primary" id="submit-id-submit" type="submit">
                <a class="btn btn-danger" href="">Sil</a> </div>
            </div>
          </div>
            </form>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="taskModal" role="dialog">

      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <!-- Widget: user widget style 1 -->
                  <div class="box box-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-yellow">
                      <h2 id="task_name"></h2>
                    </div>
                    <div class="box-footer no-padding">
                      <ul class="nav nav-stacked">
                        <li><a href="#">Start Date <span class="pull-right badge bg-blue" id="task_start"></span></a></li>
                        <li><a href="#">End Date <span class="pull-right badge bg-red" id="task_end"></span></a></li>
                        <li><a href="#">Status <span class="pull-right badge bg-green" id="task_status"></span></a></li>
                        <li><a href="#">Project <span class="pull-right badge bg-aqua" id="task_dependencies"></span></a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- /.widget-user -->
                </div>

                   </div>
                   <div id="task_url"></div>
                </div>
          </div>
        </div>
      </div>

{% endblock content %}
