{% extends 'cruds/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crud_tags %}
{% load static %}

{% block title %}TARLA Internal{% endblock %}

{% block page_name %}TARLA{% endblock %}
{% block page_description %}Web Services{% endblock %}

{% block bodyclass %}skin-blue {%if config.hide_sidebar %}sidebar-collapse{%endif%} {% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">

    <div class="box box-primary">
      <div class="row">
        <div class="col-xs-12">
          <div class="box-header">
            <div class="row">
              {% if url_create %}
                <div class="col-lg-6">
                  {% crud_url object "create" namespace as url %}
                    {% if url and 'create' in views_available and crud_perms.create %}
                      <a href="{{ url }}{{getparams}}" class="btn btn-primary">
                      {% trans "New " %} {{ model_verbose_name }}</a>
                    {%endif%}
                </div>
              {% endif %}

            </div>
          </div>

      <!-- /.box-header -->
      <div class="box-body">
        <div class="col-lg-3 col-xs-6">
        <a href="https://tarla.org.tr" class="small-box-footer">
        <div class="small-box bg-teal">

          <div class="inner">
            <h3>TARLA</h3>

            <h4>Web Home</h4>
          </div>
          <div class="icon">
            <i class="fa fa-users"></i>
          </div>

        </div></a>
        </div>
        <div class="col-lg-3 col-xs-6">
        <a href="/personnel/" class="small-box-footer">
        <div class="small-box bg-blue">

          <div class="inner">
            <h3>User</h3>

            <h4>Management</h4>
          </div>
          <div class="icon">
            <i class="fa fa-users"></i>
          </div>

        </div></a>
        </div>

        <div class="col-lg-3 col-xs-6">
        <a href="http://indico.tarla.org.tr" class="small-box-footer">
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>Indico</h3>

            <h4>Conference</h4>
          </div>
          <div class="icon">
            <i class="fa fa-linkedin"></i>
          </div>
        </div></a>
        </div>
        <div class="col-lg-3 col-xs-6">
        <a href="/procurement/" class="small-box-footer">
        <div class="small-box bg-red">
          <div class="inner">
            <h3>Tender</h3>

            <h4>Management</h4>
          </div>
          <div class="icon">
            <i class="fa fa-edit"></i>
          </div>

        </div></a>
        </div>

        <div class="col-lg-3 col-xs-6">
        <a href="/portunes/" class="small-box-footer">
        <div class="small-box bg-purple">
          <div class="inner">
            <h3>Access</h3>

            <h4>Control</h4>
          </div>
          <div class="icon">
            <i class="fa fa-key"></i>
          </div>
        </div></a>
        </div>

        <div class="col-lg-3 col-xs-6">
        <a href="/project/" class="small-box-footer">
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>Project</h3>

            <h4>Management</h4>
          </div>
          <div class="icon">
            <i class="fa fa-calendar"></i>
          </div>
        </div></a>
        </div>

        <div class="col-lg-3 col-xs-6">
        <a href="/inventory/" class="small-box-footer">
        <div class="small-box bg-green">
          <div class="inner">
            <h3>Inventory</h3>

            <h4>Management</h4>
          </div>
          <div class="icon">
            <i class="fa fa-cart-plus"></i>
          </div>
        </div></a>
        </div>

        <div class="col-lg-3 col-xs-6">
        <a href="http://mail.tarla.org.tr" class="small-box-footer">
        <div class="small-box bg-teal">
          <div class="inner">
            <h3>Web</h3>

            <h4>Mail</h4>
          </div>
          <div class="icon">
            <i class="fa fa-envelope"></i>
          </div>
        </div></a>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-2">

  <!-- ./col -->
</div>
</div>
</div>
</div>

<!-- Small boxes (Stat box) -->
<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Support</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <p>You can login with your TARLA account to different web services.<br>
            If you don't have permission to use services contact with IT department via
            <a href="mailto:it@tarla.org.tr">it@tarla.org.tr</a>
          </p>
        </div>
    </div>
  <!-- ./col -->
  </div>

</div>

{% endblock %}
