{% extends 'cruds/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crud_tags %}
{% load static %}
{% load personnel_tags %}
{% block title %}Call For Tenders{% endblock %}

{% block page_name %}Call For Tenders{% endblock %}
{% block page_description %}List{% endblock %}

{% block bodyclass %}skin-red {% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/procurement/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Call For Tender</li>
</ol>
{% endblock %}

{% block content %}
<!-- Small boxes (Stat box) -->
<div class="row">
  <div class="col-md-12">

    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Tenders</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
          <table id="tenders" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="tenders_info">
            <thead>
            <tr role="row">
              <th class="sorting_asc" tabindex="0" aria-controls="tenders" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Name</th>
              <th class="sorting" tabindex="0" aria-controls="tenders" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Apply Date</th>
              <th class="sorting" tabindex="0" aria-controls="tenders" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Personnel</th>
              <th class="sorting" tabindex="0" aria-controls="tenders" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Status</th>
            </tr>
            </thead>
            <tbody>


                {%for tender in tenders%}
                      <tr role="row" class="odd">
                        <td class="sorting_1"><a data-toggle="modal" href="#tenderModal">
                          {{tender.name}}</a></td>
                         <td>{{tender.apply_date|date:"d M Y"}}</td>
                         <td><a href="/personnel/detail/{{tender.user.id}}">{{tender.user.first_name}} {{tender.user.last_name}}</a></td>
                         <td class="bg {{tender.tender_status.bgcolor}}">{{tender.tender_status}}</td>
                      </tr>
                {%endfor%}
            </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">

  <!-- ./col -->
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="tenderModal" role="dialog">

  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                  <h2 id="task_name"></h2>
                </div>
                <div class="box-footer no-padding">
                  <ul class="nav nav-stacked">
                    <li><a href="#">Start Date <span class="pull-right badge bg-blue" id="task_start"></span></a></li>
                    <li><a href="#">End Date <span class="pull-right badge bg-red" id="task_end"></span></a></li>
                    <li><a href="#">Status <span class="pull-right badge bg-green" id="task_status"></span></a></li>
                    <li><a href="#">Project <span class="pull-right badge bg-aqua" id="task_dependencies"></span></a></li>
                  </ul>
                </div>
              </div>
              <!-- /.widget-user -->
            </div>

               </div>
               <div id="task_url"></div>
            </div>
      </div>
    </div>
  </div>
{% endblock %}
