{% extends 'cruds/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crud_tags %}
{% load static %}
{% load personnel_tags %}
{% block title %}Call For Tenders{% endblock %}

{% block page_name %}Call For Tenders{% endblock %}
{% block page_description %}List{% endblock %}

{% block bodyclass %}skin-red {% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/procurement/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Call For Tender</li>
</ol>
{% endblock %}

{% block js %}
<script type="text/javascript">
  //'{{tender}}','{{tender.auction_date}}','{{tender.auction_time}}','{{tender.auction_location}}','{{tender.bap_staff}}','{{tender.publish_notes}}','{{tender.specification}}'
  function taskModalUpdate(name,no,auction_date,auction_time,auction_location,bap_staff,publish_notes,specification){
      console.log("Update modal");
      document.getElementById('name').innerHTML = name;
      document.getElementById('no').innerHTML = no;
      document.getElementById('auction_date').innerHTML = auction_date;
      document.getElementById('auction_time').innerHTML = auction_time;
      document.getElementById('auction_location').innerHTML = auction_location;
      document.getElementById('bap_staff').innerHTML = bap_staff;
      document.getElementById('publish_notes').innerHTML = publish_notes;
      document.getElementById('specification_url').href = specification;
      //s.value = "new value";
  }
  //taskModalUpdate("id1");
</script>
{% endblock js %}
{% block content %}
<!-- Small boxes (Stat box) -->
<div class="row">
  <div class="col-md-12">

    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Tenders</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
          <table id="tenders" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="tenders_info">
            <thead>
            <tr role="row">
              <th class="sorting_asc" tabindex="0" aria-controls="tenders" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Name</th>
              <th class="sorting" tabindex="0" aria-controls="tenders" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Description</th>
              <th class="sorting" tabindex="0" aria-controls="tenders" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Date of Tender</th>
              <th class="sorting" tabindex="0" aria-controls="tenders" rowspan="1" colspan="1" aria-label="Contact Person">Contact Person</th>
              <th class="sorting" tabindex="0" aria-controls="tenders" rowspan="1" colspan="1" aria-label="E-mail">E-mail</th>
              <th class="sorting" tabindex="0" aria-controls="tenders" rowspan="1" colspan="1" aria-label="Phone">Phone</th>
              <th class="sorting" tabindex="0" aria-controls="tenders" rowspan="1" colspan="1" aria-label="Status">Status</th>
            </tr>
            </thead>
            <tbody>
                {%for tender in tenders%}
                      <tr role="row" class="odd">
                        <td class="sorting_1"><a data-toggle="modal" onclick="taskModalUpdate('{{tender}}','{{tender.no}}','{{tender.auction_date}}','{{tender.auction_time}}','{{tender.auction_location}}','{{tender.bap_staff}}','{{tender.publish_notes}}','{%if tender.specification%}{{tender.specification.url}}{%else%}#{%endif%}');" href="#tenderModal">
                          {{tender.name}}</a></td>
                         <td>{{tender.publish_notes|safe}}</td>
                         <td>{{tender.auction_date|date:"d M Y"}}</td>
                         <td><a href="/personnel/detail/{{tender.user.id}}">{{tender.user.first_name}} {{tender.user.last_name}}</a></td>
                         <td >{{tender.user.email}}</td>
                         {%get_personnel tender.user as personnel%}
                         <td >{{personnel.phone_number1}}</td>
                         <td >{%if tender.publish_status%}{{tender.publish_status}}{%endif%}</td>
                      </tr>
                {%endfor%}
            </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">

  <!-- ./col -->
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="tenderModal" role="dialog">

  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-red">
                  <h2 id="name"></h2>
                  <h4 id="no"></h4>
                </div>
                <div class="box-footer no-padding">
                  <ul class="nav nav-stacked">
                    <li><a href="#">Action Date <span class="pull-right badge bg-blue" id="auction_date"></span></a></li>
                    <li><a href="#">Action Time <span class="pull-right badge bg-red" id="auction_time"></span></a></li>
                    <li><a href="#">Action Location <span class="pull-right badge bg-red" id="auction_location"></span></a></li>
                    <li><a href="#">BAP Personnel<span class="pull-right badge bg-red" id="bap_staff"></span></a></li>
                    <li><a id="specification_url" href="#">Specification <span class="pull-right badge bg-aqua" id="specification">Download Specification Document</span></a></li>
                    <li><a href="#">Notes</a> <span id="publish_notes"></span></li>
                  </ul>
                </div>
              </div>
              <!-- /.widget-user -->
            </div>

               </div>
               <div id="task_url"></div>
            </div>
      </div>
    </div>
  </div>
{% endblock %}
