{% extends template_father %}
{% load i18n %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/personnel/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Personnel</li>
</ol>
{% endblock %}

{% block content %}
  {% if crud_perms.list %}
        <a href="{{ url_list }}{{getparams}}" class="btn btn-info">
            <i class="fa fa-angle-double-left"></i>
            {% trans "Back to " %}{{ model_verbose_name_plural }}
        </a>
  {% endif %}

  <h1>{{ object }}</h1><h2> {% trans "Do you want to delete" %}?</h2>
  <div class="alert alert-warning">
  <strong>Uyarı!</strong> <p>If you use LDAP auth, deleting users do not affect LDAP server.<br>
    Delete LDAP interface to delete ldap user first.</p>
</div>


  <form action="{{ url_delete }}{{getparams}}" method="POST">
    {% csrf_token %}

    <p>
      <button type="submit" class="btn btn-danger">{% trans "Accept" %}</button>
    </p>
  </form>
{% endblock %}
