{% extends 'cruds/base.html' %}
{% load i18n %}
{% load crud_tags %}
{% load personnel_utils %}
{% load static %}
{% block title %}User Manager{% endblock %}
{% block page_name %}User Manager{% endblock %}
{% block page_description %}Profile{% endblock %}

{% block bodyclass %}skin-blue {%if config.hide_sidebar %}sidebar-collapse{%endif%} {% endblock %}

{% block page_stylesheets %}
<!-- ChartJS 1.0.1 -->
<script src="{% static 'plugins/chartjs/Chart.min.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/personnel/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Personnel</li>
</ol>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="{{ object.profile_picture.url }}" alt="Fotoğraf">

          <h3 class="profile-username text-center">{{ object }}</h3>

          <p class="text-muted text-center">{{ object.job }}</p>
          {% if request.user.is_authenticated %}
          <ul class="list-group list-group-unbordered">
            {% update_work_hours object.user%}
            <li class="list-group-item">
              <b>Work days</b> <a class="pull-right">{{ object.total_workday }}</a>
            </li>
            <li class="list-group-item">
              <b>Work hours</b> <a class="pull-right">{{ object.total_workhour }}</a>
            </li>
            <li class="list-group-item">
              <b>Total dose</b> <a class="pull-right">{{ object.total_dose }}</a>
            </li>



          </ul>
            {% if crud_perms.update %}
              <div class="col-md-12 col-lg-12 " align="center">
                <a href="/personnel/personnel/{{object.id}}/update" class="btn btn-primary" align="center">Update Details</a>
                {% get_folder object.id as folder%}
                <a href="/admin/filer/folder/{{folder.id}}/list/" class="btn btn-warning" align="center">User Files</a>
                <a data-toggle="modal" href="#Annual_leaveModal" class="btn btn-danger" align="center">Time off</a>
              </div>
            {%endif%}
          {%endif%}
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

      <!-- About Me Box -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">About</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <strong><i class="fa fa-book margin-r-5"></i>Contact</strong>

          <p class="text-muted">
            E-mail: <b><a href="mailto:{{ object.email }}">{{ object.email }}</a> </b><br>
            Job-phone: <b><a href="tel:{{ object.phone_number1 }}">{{ object.phone_number1 }}</a> </b><br>
            {% if request.user.is_authenticated %}
            Mobile-Phone: <b><a href="tel:{{ object.phone_number2 }}">{{ object.phone_number2 }}</a></b>
            {%endif%}
          </p>

          <hr>

          <strong><i class="fa fa-map-marker margin-r-5"></i>Department</strong>

          <p class="text-muted">{{ object.department }}</p>
          {% if request.user.is_authenticated %}
          <hr>

          <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

          <p>{{ object.notes }}</p>
          {%endif%}
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          {% if request.user.is_authenticated %}
          <li class="active"><a href="#about" data-toggle="tab">Personel</a></li>
          <li class=""><a href="#contact" data-toggle="tab">Contact</a></li>
          <li class=""><a href="#job" data-toggle="tab">Job</a></li>
          <!-- <li class=""><a href="#files" data-toggle="tab">Files</a></li> -->
          <li class=""><a href="#cv" data-toggle="tab">CV</a></li>
          {%else%}
          <li class="active"><a href="#cv" data-toggle="tab">CV</a></li>
          {%endif%}

        </ul>
        <div class="tab-content">
          {% if request.user.is_authenticated %}
          <div class="active tab-pane" id="about">
            <div class="box-body">
              <div class="row">

                <div class=" col-md-6 col-lg-6 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Name :</td>
                        <td><b>{{object.name}}</b></td>
                      </tr>
                      <tr>
                        <td>Surname :</td>
                        <td><b>{{object.surname}}</b></td>
                      </tr>
                      <tr>
                        <td>Nat ID :</td>
                        <td><b>{{object.nat_id}}</b></td>
                      </tr>
                      <tr>
                        <td>Country :</td>
                        <td><b>{{object.get_country_display}}</b></td>
                      </tr>
                      <tr>
                        <td>User Type :</td>
                        <td><b>{{object.personnel_type}}</b></td>
                      </tr>
                      <tr>
                        <td>Gender :</td>
                        <td><b>{{object.get_gender_display}}</b></td>
                      </tr>
                      <tr>
                        <td>Birth date :</td>
                        <td><b>{{object.birth_date}}</b></td>
                      </tr>
                      <tr>
                        <td>Marital Status:</td>
                        <td><b>{{object.get_marital_status_display}}</b></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              </div>
          </div>
          <div class="tab-pane" id="contact">
            <div class="box-body">
              <div class="row">

                <div class=" col-md-6 col-lg-6 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Job Phone :</td>
                        <td><b>{{object.phone_number1}}</b></td>
                      </tr>
                      <tr>
                        <td>Mobile Phone :</td>
                        <td><b>{{object.phone_number2}}</b></td>
                      </tr>
                      <tr>
                        <td>E-mail :</td>
                        <td><b>{{object.email}}</b></td>
                      </tr>
                      <tr>
                        <td>Address :</td>
                        <td><b>{{object.address}}</b></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="job">
            <!-- The timeline -->
            <!-- BAR CHART -->
              <div class="box-body">
                <div class="row">

                  <div class=" col-md-6 col-lg-6 ">
                    <table class="table table-user-information">
                      <tbody>
                        <tr>
                          <td>Department :</td>
                          <td><b>{{object.department}}</b></td>
                        </tr>
                        <tr>
                          <td>Job :</td>
                          <td><b>{{object.job}}</b></td>
                        </tr>
                        <tr>
                          <td>Title :</td>
                          <td><b>{{object.title}}</b></td>
                        </tr>
                        <tr>
                          <td>Drive Licence :</td>
                          <td><b>{{object.get_drive_licence_display}}</b></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->


          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="files">
            <!-- The timeline -->
            <!-- BAR CHART -->
              <div class="box-body">
                <div class="row">

                  <div class=" col-md-6 col-lg-6 ">
                    <table class="table table-user-information">
                      <tbody>
                        <tr>
                          <td>Personel PDF :</td>
                          <td><a href="/media/{{personnel.user_file}}"><b>{{personnel.user_file}}</b></a></td>
                        </tr>
                        <tr>
                          <td>Health Status :</td>
                          <td><a href="/media/{{personnel.health_status}}"><b>{{personnel.health_status}}</b></a></td>
                        </tr>
                        <tr>
                          <td>Extra file 1 :</td>
                          <td><a href="/media/{{personnel.extra_file1}}"><b>{{personnel.extra_file1}}</b></a></td>
                        </tr>
                        <tr>
                          <td>Extra file 2 :</td>
                          <td><a href="/media/{{personnel.extra_file2}}"><b>{{personnel.extra_file2}}</b></a></td>
                        </tr>
                        <tr>
                          <td>Extra file 3 :</td>
                          <td><a href="/media/{{personnel.extra_file3}}"><b>{{personnel.extra_file3}}</b></a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
          </div>
          <div class="tab-pane" id="cv">

              <div class="box-body">
                {{ object.cv|safe }}
              </div>


          </div>
          {%else%}
          <div class="tab-pane active" id="cv">

              <div class="box-body">
                {{ object.cv|safe }}
              </div>


          </div>
          {%endif%}

          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

  <!-- MODAL DIALOG -->
    <div class="modal fade" id="Annual_leaveModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 style="color:green;">Time off Request</h4>
            </div>
            <div class="modal-body">
              <div class="col-md-12">
                <form action="/personnel/annual_leave/create?success_url=/" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="box-body row">
                    <div class="col-md-12">
                      <div id="div_id_user" class="form-group col-md-12">
                        <div class="controls hidden">
                          <select name="user" required="" class="select form-control select2-hidden hidden" id="id_user" tabindex="-1" aria-hidden="true">
                            <option value="{{request.user.id}}">{{request.user.first_name}} {{request.user.last_name}}</option>
                          </select>
                        </div>
                      </div>
                       <div id="div_id_start_date" class="form-group col-md-6">
                         <label for="id_start_date" class="control-label  requiredField">
                           Start Date<span class="asteriskField">*</span> </label> <div class="controls "> <script>
                           $(function () {
                             $('.datepickerwidget').datepicker({
                               autoclose: true
                             });
                           });
                           </script>
                           <div class="input-group date">
                             <div class="input-group-addon">
                               <i class="fa fa-calendar"></i>
                             </div>
                             <input class="datepickerwidget form-control" data-date-format="dd/mm/yyyy" name="start_date" id="id_start_date" value="" type="text">
                           </div>
                         </div>
                       </div>
                       <div id="div_id_end_date" class="form-group col-md-6">
                         <label for="id_end_date" class="control-label  requiredField">
                      End Date<span class="asteriskField">*</span> </label> <div class="controls "> <script>
                      $(function () {
                        $('.datepickerwidget').datepicker({
                          autoclose: true
                        });
                      });
                    </script>
                    <div class="input-group date"> <div class="input-group-addon"> <i class="fa fa-calendar"></i> </div> <input class="datepickerwidget form-control" data-date-format="dd/mm/yyyy" name="end_date" id="id_end_date" value="" type="text">
                  </div> </div> </div> <div id="div_id_notes" class="form-group col-md-12">
                    <label for="id_notes" class="control-label ">Notes</label>
                  <div class="controls ">
                    <textarea name="notes" maxlength="300" id="id_notes" rows="10" class="textarea form-control" cols="40">
                    </textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="controls ">
                    <input name="submit" value="Submit" class="btn btn-primary btn btn-primary" id="submit-id-submit" type="submit">
                    </div>
                  </div>

                </div>
              </div>
            </form>

              </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- /MODAL DIALOG -->
{% endblock %}
