{% extends 'cruds/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crud_tags %}
{% load static %}
{% load personnel_tags %}
{% load procurement_tags %}
{% block title %}Procurement{% endblock %}

{% block page_name %}Procurement{% endblock %}
{% block page_description %}Dashboard{% endblock %}

{% block bodyclass %}skin-red {% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/procurement/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Tender</li>
</ol>
{% endblock %}

{% block content %}
<!-- Small boxes (Stat box) -->
<div class="row">
  <div class="col-xs-12">
      <div class="box box-danger">
          <div class="box-header">
            <div class="row">
              {% if url_create %}
              <div class="col-lg-6">
                  {% crud_url object "create" namespace as url %}
                  {% if url and 'create' in views_available and crud_perms.create %}
                    <a href="{{ url }}{{getparams}}" class="btn btn-primary">
                        {% trans "New " %} {{ model_verbose_name }}</a>
                    {%endif%}
              </div>
              {% endif %}
              {% if search %}
              <div class="col-lg-6">
                  <form action="" method="get">
                      <div class="input-group">
                          <input type="text" name="q" value="{{q}}" class="form-control" placeholder="{% trans 'Search...' %}">
                          <span class="input-group-btn">
                              <button class="btn btn-flat" type="submit">
                                  <i class="fa fa-search"></i>
                              </button>
                          </span>
                      </div>
                  </form>
              </div>
              {% endif %}
          </div>

          {% if filters %}
          <br />
                  <form action="" method="get">
                      <table class="table">
                          {% for filter in filters %}
                          {{filter.render }}
                          {% endfor %}

                      </table>
                      <input type="submit" class="btn btn-info" value="Filter" />
                      <a  class="btn btn-warning" href="?"> {% trans 'Clean filter' %} </a>
                  </form>
          </div>
          <!-- /.box-body -->
      </div>
              {% endif%}
  </div>
  <div class="col-md-12">

    <div class="box box-danger">
      <div class="row">
        <div class="col-xs-12">
          <div class="box-header">
            <div class="row">


            </div>
          </div>

      <!-- /.box-header -->
      <div class="box-body">

        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            {%get_tendertypes as tender_types%}
            {%for tender_type in tender_types %}
            {%if request.GET.tender_type %}
                <li class="{%if request.GET.tender_type == tender_type.id|slugify%}active{%endif%}"><a href="#{{tender_type.code}}" data-toggle="tab" aria-expanded="false">{{tender_type.name}}</a></li>
            {%else%}
                <li class="{%if tender_types|first == tender_type%}active{%endif%}"><a href="#{{tender_type.code}}" data-toggle="tab" aria-expanded="false">{{tender_type.name}}</a></li>
            {%endif%}

            {%endfor%}
          </ul>
          <div class="tab-content">
            {%for tender_type in tender_types%}
            {%if request.GET.tender_type %}
                <div class="tab-pane {%if request.GET.tender_type == tender_type.id|slugify%}active{%endif%}" id="{{tender_type.code}}">
            {%else%}
                <div class="tab-pane {%if tender_types|first == tender_type%}active{%endif%}" id="{{tender_type.code}}">
            {%endif%}
              <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                <thead>
                <tr role="row">
                  <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Name</th>
                  <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">No</th>
                  <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Apply Date</th>
                  <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Personnel</th>
                  <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Status</th>
                </tr>
                </thead>
                <tbody>


                    {%for tender in object_list%}

                      {%if tender.tender_type == tender_type%}
                        {%if 'apply_date' in request.GET and request.GET.apply_date != '' %}
                          {%if tender.apply_date|date:"Y" == request.GET.apply_date %}

                            <tr role="row" class="odd">

                              <td class="sorting_1"><a href="/procurement/tender/{{tender.id}}/update">
                                {{tender.name}}</a></td>
                  	          <td>{{tender.no}}</td>
                  	          <td>{{tender.apply_date|date:"d M Y"}}</td>
                  	          <td>{{tender.user}}</td>
                  	          <td class="bg {{tender.tender_status.bgcolor}}">{{tender.tender_status}}</td>

                            </tr>
                          {%endif%}
                        {%else%}
                            <tr role="row" class="odd">

                            <td class="sorting_1"><a href="/procurement/tender/{{tender.id}}/update">
                              {{tender.name}}</a></td>
                            <td>{{tender.no}}</td>
                            <td>{{tender.apply_date|date:"d M Y"}}</td>
                            <td>{{tender.user}}</td>
                            <td class="bg {{tender.tender_status.bgcolor}}">{{tender.tender_status}}</td>

                            </tr>

                        {%endif%}
                      {%endif%}

                    {%endfor%}


                </tbody>
              </table>

            </div>
            {%endfor%}
            <!-- /.tab-pane -->

          </div>
          <!-- /.tab-content -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">

  <!-- ./col -->
</div>
</div>
</div>
</div>
{% endblock %}
