{% extends 'cruds/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load crud_tags %}
{% load static %}
{% load personnel_tags %}
{% load portunes_tags %}
{% block title %}Access Control{% endblock %}

{% block page_name %}Access Control{% endblock %}
{% block page_description %}User Permission{% endblock %}

{% block bodyclass %}skin-purple {%if config.hide_sidebar %}sidebar-collapse{%endif%} {% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/portunes/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">User Access</li>
    <li><a href="/portunes/actions/{{user.id}}">User Actions</a></li>
</ol>
{% endblock %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <a href="/personnel/personnel/{{user.id}}">{{user.first_name}} {{user.last_name}}</a> Permissions
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-6">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Identifiers</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered text-center">
          <tbody>
            <form action="" method="post" name="form" id="form">
              {% csrf_token %}
            <ul>
              <div class="form-group" data-select2-id="13">
                <label>Personel Identifier</label>
                <select name="identifier" class="form-control select2 select2-container " style="width: 100%;" tabindex="-1" aria-hidden="true">
                  <option value="0" selected="selected">----</option>
                  {% for id in identifier.all %}
                    {%if id.identifier_type != 3%}
                      <option value="{{id.id}}" selected="selected">{{id.name}}</option>
                    {%endif%}
                  {%endfor%}

                  {%for id in all_identifiers%}
                  {{id.name}}
                    {%if id.identifier_type != 3%}
                      {%if id.user == None%}
                        <option value="{{id.id}}">{{id.name}}</option>
                      {%endif%}
                    {%endif%}
                  {%endfor%}
                </select>
              </div>
            </ul>
            <ul>
              <div class="form-group" data-select2-id="13">
                <label>Vehicle Identifier</label>
                <select name="car_identifier" class="form-control select2 select2-container " style="width: 100%;" tabindex="-1" aria-hidden="true">
                  <option value="0" selected="selected">----</option>
                  {% for id in identifier.all %}
                    {%if id.identifier_type == 3%}
                      <option value="{{id.id}}" selected="selected">{{id.name}}</option>
                    {%endif%}
                  {%endfor%}

                  {%for id in all_identifiers%}
                  {{id.name}}
                    {%if id.identifier_type == 3%}
                      {%if id.user == None%}
                        <option value="{{id.id}}">{{id.name}}</option>
                      {%endif%}
                    {%endif%}
                  {%endfor%}
                </select>
              </div>
            </ul>

            <ul>
              <div class="form-group" data-select2-id="13">
                <label>Dosimeter Access</label>
                <select name="dosimeter_access" class="form-control select2 select2-container " style="width: 100%;" tabindex="-1" aria-hidden="true">

                  {% for id in identifier.all %}
                    {%if id.identifier_type != 3%}
                      {%if id.dosimeter_access == True%}
                        <option value="true" selected="selected">Access Granted</option>
                        <option value="false">Access Not Granted</option>
                      {%else%}
                        <option value="false" selected="selected">Access Not Granted</option>
                        <option value="true">Access Granted</option>
                      {%endif%}
                    {%endif%}
                  {%endfor%}
                </select>
              </div>
            </ul>
            <ul>
              <!--<input type="hidden" name="identifier" id="identifier" value="{{id.id}}" />&nbsp;&nbsp;&nbsp;-->
              <button type="submit" name="dosimeteraccess" value="dosimeteraccess" class="btn btn-md btn-primary">Update</button>
            </ul>

            </form>
            <!--
            <ul>
              {% for id in identifier.all %}
                <form action="" method="post" name="form" id="form">
                  {% csrf_token %}
                  <a href="/portunes/identifier/{{id.id}}/update"><li class="fa fa-user" > {{id.name}} - {{id.key}}</li></a>
                  <input type="hidden" name="identifier" id="identifier" value="{{id.id}}" />&nbsp;&nbsp;&nbsp;
                  <button type="submit" name="dosimeteraccess" value="dosimeteraccess" class="btn btn-xs btn-success">Dosimeter Access</button>
                  <button type="submit" name="deleteidentifier" value="deleteidentifier" class="btn btn-xs btn-danger">Delete</button>
                  <br>
                </form>
              {% endfor %}
          </ul>
          -->
        </tbody>
      </table>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <div class="col-xs-6">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Door Groups</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered text-center">
          <tbody>
            <ul>
             {% for door_group in door_groups.all %}
                {%if door_group.group_type == 1 or door_group.group_type == 2 or door_group.group_type == 3 or door_group.group_type == 4 %}
                  <a href="?door_group={{door_group.id}}" value="{{door_group.id}}" ><li class="fa fa-archive" > {{door_group.name}}</li></a>

                  <br>
                {%endif%}
             {% endfor %}
          </ul>
        </tbody></table>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">

          <h3 class="box-title">{{table_label}}</h3>
          <p style="text-align: right;"><span style="color:blue;">Blue:</span> Radiation area readers
            <br>
          <span style="color:red;">Red:</span> Vehicle control readers</p>

        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <label for="AllCheckbox">All</label>
          <input type="checkbox" ID="AllCheckbox" />
          <label for="NoneCheckbox">None</label>
          <input type="checkbox" ID="NoneCheckbox" />
          {%if request.GET.door_group %}
            {%get_group_doors request.GET.door_group as permissions%}
          {%endif%}

          <form action="" method="post" name="form" id="form">

              {% csrf_token %}
          <table class="table table-bordered text-center">
          <tbody>
            <ul>
          {% for controller in controllers.all %}
            {% cycle '<tr>' '' '' %}
                <td>

            <a href="/portunes/controller/{{controller.id}}">
              <i class="fa fa-archive"></i> <span>{{ controller.name}}</span>
            </a><br>

             {% for door in doors.all %}

              {%if door.entrance.name == controller.name %}
              <li {%if door in vehicle_doors%} style="color:red;"
                  {%elif door in radiation_doors%}style="color:blue;"
                  {%else%}
                  style="font-weight:bold;"
                  {%endif%}
              class="fa fa-code-fork" > {{door.entrance_controller_pin}} - {{door.name}}

                <input type="checkbox" class="checkbox" name="permissions" value="{{door.id}}"
                id="{{door.id}}"
                  {%for permission in permissions %}
                  {%if request.GET.door_group %}
                      {%if permission == door %}
                      checked
                      {%endif%}
                  {%else%}
                    {%if permission.door == door %}
                    checked
                    {%endif%}
                  {%endif%}

                {%endfor%}
                >
              </li><br>
              {%endif%}
              {% endfor %}
                </td>
            {% cycle '' '' '</tr>' %}

          {% endfor %}
          </ul>
        </tbody></table>
          <div class="box-footer">
            <button type="submit" name="savepermission" value="savepermission" class="btn btn-primary">Save</button>
            <button type="submit" name="clearpermission" value="clearpermission" class="btn btn-danger">Delete Permission</button>

          </div>
          </form>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->




{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function () {
    $('#AllCheckbox').click(function () {
        $('#NoneCheckbox').prop('checked',false);
        $('.checkbox').prop('checked', "checked");
    });

    $('#NoneCheckbox').click(function () {
        $('#AllCheckbox').prop('checked',false);
        $('.checkbox').prop('checked',false);
    });

    $('#GroupCheckbox').click(function () {
        alert('Type checkbox was clicked');
    });

    $('.checkbox').click(function () {
       // alert('Type checkbox was clicked');
        $('#AllCheckbox').prop('checked',false);
        $('#NoneCheckbox').prop('checked',false);
    });
});
</script>
{% endblock %}
