{% extends 'janus/index.html' %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Yeni Kart oluşturma
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i>Ana Sayfa</a></li>
    <li><a href="/identifiers/">Kartlar</a></li>
    <li class="/identifiers/new/">Yeni Kart oluşturma</li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Yeni Kart</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form action="/users/new/" method="post" name="form" id="form">
          {% csrf_token %}
          <div class="box-body">
            <div class="form-group">
              <label for="name">İsim</label>
              <input type="name" class="form-control" name="name" id="name" placeholder="İsim Giriniz">
            </div>
            <div class="form-group">
              <label for="key">Kart No: </label>
              <input type="key" class="form-control" name="key" id="key" placeholder="Kart No giriniz">
            </div>
            <div class="form-group">
              <label for="nat_id">Kullanılıyor mu?</label>
              <input type="checkbox" name="is_active" id="is_active">
            </div>
            <div class="form-group">
              <div class="form-group">
                  <label>Kart Tipi</label>
                  <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                  </select>
                </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Yeni Oluştur</button>
          </div>
        </form>
      </div>
      <!-- /.box -->

  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
{% endblock %}
