{% extends 'adminlte/base.html' %}
{% load detail_tags %}
{% load bootstrap%}
{% load render_table from django_tables2 %}
{% load static %}

{% block title %}Personel Yönetimi - {% title %} {% endblock %}

{% block page_name %}Personel Yönetimi{% endblock %}
{% block page_description %}Profil{% endblock %}

{% block bodyclass %}skin-blue{% endblock %}

{% block page_stylesheets %}
<!-- ChartJS 1.0.1 -->
<script src="{% static 'plugins/chartjs/Chart.min.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="{{ personnel.profile_picture.url }}" alt="Fotoğraf">

          <h3 class="profile-username text-center">{{ personnel }}</h3>

          <p class="text-muted text-center">{{ personnel.job }}</p>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>İş günü</b> <a class="pull-right">{{ personnel.total_workday }}</a>
            </li>
            <li class="list-group-item">
              <b>İş saati</b> <a class="pull-right">{{ personnel.total_workhour }}</a>
            </li>
            <li class="list-group-item">
              <b>Radyasyon Doz</b> <a class="pull-right">{{ personnel.dose }}</a>
            </li>
          </ul>

          <a href="#" class="btn btn-default btn-block"><b>Follow</b></a>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

      <!-- About Me Box -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Hakkında</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <strong><i class="fa fa-book margin-r-5"></i>İletişim</strong>

          <p class="text-muted">
            E-posta: <b><a href="mailto:{{ personnel.email }}">{{ personnel.email }}</a> </b><br>
            Telefon: <b><a href="tel:{{ personnel.phone_number1 }}">{{ personnel.phone_number1 }}</a> </b><br>
            Telefon 2: <b><a href="tel:{{ personnel.phone_number2 }}">{{ personnel.phone_number2 }}</a></b>
          </p>

          <hr>

          <strong><i class="fa fa-map-marker margin-r-5"></i>Departman</strong>

          <p class="text-muted">{{ personnel.department }}</p>

          <hr>

          <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

          <p>{{ personnel.description }}</p>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#activity" data-toggle="tab">Hareketler</a></li>
          <li><a href="#timeline" data-toggle="tab">Timeline</a></li>
          <li><a href="#settings" data-toggle="tab">Ayarlar</a></li>
        </ul>
        <div class="tab-content">
          <div class="active tab-pane" id="activity">
            <div class="box-body">
              {% render_table table_list %}
            </div>
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="timeline">
            <!-- The timeline -->
            <!-- BAR CHART -->
              <div class="box-body">
                <div class="chart">
                  <canvas id="barChart" style="height:230px"></canvas>
                </div>
              </div>
              <!-- /.box-body -->


          </div>
          <!-- /.tab-pane -->

          <div class="tab-pane" id="settings">
            <div class="box-body">
              <!-- Date and time range -->
              <div class="form-group">
                <form role="form" method="post" class="form-horizontal">
                  <div class="box-body">
                    {% csrf_token %}
                    {{ form|bootstrap }}

                    <div class="box-footer">
                      <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                  </div>
                </form>


                <!-- /.input group -->
              </div>
              </div>
          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
{% endblock %}
