{% extends 'adminlte/base.html' %}
{% load bootstrap_calendar %}
{% load detail_tags %}
{% load project_tags %}
{% my_custom_tag %}

{% block title %}Proje Yönetimi{% endblock %}

{% block page_name %}Proje Yönetimi{% endblock %}
{% block page_description %}Dashboard{% endblock %}

{% block bodyclass %}skin-yellow{% endblock %}


{% block page_javascript %}
{% bootstrap_calendar_js language="lang-code" %}
{% bootstrap_calendar_init language="lang-code" %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-5">
    <div class="box box-primary">

      <div class="box-header">
        <h3 class="box-title">Son Hareketler</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>

      <div class="box-body">
        <ul class="timeline">
          <!-- timeline item -->
          <li>
            <i class="fa fa-envelope bg-blue"></i>

            <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

              <h3 class="timeline-header"><a href="/personnel/detail/btonga">Bilal Tonga</a> yorum yaptı.</h3>

              <div class="timeline-body">
                Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                weebly ning heekya handango imeem plugg dopplr jibjab, movity
                jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                quora plaxo ideeli hulu weebly balihoo...
              </div>
              <div class="timeline-footer">
                <a class="btn btn-default btn-xs" href="/project/detail/task/10">Devamını oku</a>
              </div>
            </div>
          </li>
          <!-- END timeline item -->
          <!-- timeline item -->
          <li>
            <i class="fa fa-user bg-aqua"></i>

            <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

              <h3 class="timeline-header no-border">Mahmut Ekrem <a href="/project/detail/task/10"><b> Veritabanı uygulama geliştirme</b></a> işi oluşturdu.</h3>
            </div>
          </li>
          <!-- END timeline item -->
        </ul>
      </div>
<!-- /.box-body -->
    </div>
    <!-- PROJECTS -->
    <div class="box box-primary">

      <div class="box-header">
        <h3 class="box-title">Projeler</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>

      <div class="box-body">
        {% if projects %}
        <ul>
          {% for top_project in projects %}
          {% if top_project.top_project == null %}
            <li>{{ top_project.name }}</li>
            <ul>
              {% for project in projects %}
                {% if project.top_project == top_project %}
                  <li>{{ project.name }}</li>
                    <ul>
                    {% for sub_project in projects %}
                      {% if sub_project.top_project == project %}
                        <li>{{ sub_project.name }}</li>
                      {%endif%}
                    {% endfor %}
                    </ul>
                {%endif%}
              {% endfor %}
            </ul>
          {%endif%}
          {% endfor %}
      </ul>
      {% endif %}
      </div>
      <!-- /.box-body -->
    </div>
  </div>

  <!-- /.col (left) -->
  <div class="col-md-7">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">İş Takvimi</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="box-body">
        {% bootstrap_controls 'optional-css-classes' %}
        {% bootstrap_calendar 'optional-css-classes' %}
        </div>
      </div>
<!-- /.box-body -->
    </div>
<!-- /.box -->
  </div>
<!-- /.col (right) -->
</div>
<!-- /.row -->
{% endblock %}
