{% extends 'cruds/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load crud_tags %}
{% load static %}
{% load personnel_tags %}
{% block title %}Inventory - Basket{% endblock %}

{% block page_name %}Inventory{% endblock %}
{% block page_description %}Basket{% endblock %}

{% block bodyclass %}skin-green {%if config.hide_sidebar %}sidebar-collapse{%endif%} {% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/portunes/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="/inventory/basket/"><i class="fa fa-dashboard"></i> Basket</a></li>
</ol>
{% endblock %}

{% block content %}


<div class="row">

  <!-- /.col (left) -->
  <div class="col-md-12">
    <div class="box box-success">
      <div class="box-header">
        <h3 class="box-title">{{item.item}}</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">

          {%for item in basket_items%}
          <blockquote>
          <div class="box-body">
          <div class="row">
            <div class="col-md-2">
              <img class="img-thumbnail" src="{{ item.item.picture.url }}" alt="Fotoğraf">
            </div>
            <div class="col-md-3">
              <h4><strong>{{item.item}}</strong></h4>
              <h5>Shelf: <strong>{{item.item.shelf}}</strong></h5>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                  <textarea class="form-control" rows="5" placeholder="Enter Note...">{{item.notes}}</textarea>
                </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                  <label>Quantity</label>
                  <select class="form-control">
                    {%for i in "x"|rjust:"100"%}
                    <option>{{forloop.counter}}</option>
                    {%endfor%}
                  </select>
                </div>
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-danger pull-left"><span class="glyphicon glyphicon-remove"></span> Delete</button>
            </div>
          </div>
          </div>
          </blockquote>
          {%endfor%}

      </div>
<!-- /.box-body -->
    </div>
<!-- /.box -->
  <div class="box-footer">
    <button type="submit" class="btn btn-success pull-left"><span class="glyphicon glyphicon-remove"></span> Send Request</button>
  </div>
  </div>


</div>
<!-- /.row -->
{% endblock %}
