{% extends 'cruds/base.html' %}
{% load detail_tags %}
{% load inventory_tags %}
{% load crispy_forms_tags %}

{% block title %}Inventory{% endblock %}

{% block page_name %}Inventory{% endblock %}
{% block page_description %}Dashboard{% endblock %}

{% block bodyclass %}skin-green{% endblock %}

{% block page_stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}


{% block page_javascript %}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/inventory/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
</ol>
{% endblock %}

{% block content %}
<!-- Small boxes (Stat box) -->
<div class="row">
  <div class="col-md-10">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Ownership Change</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <form class="form-horizontal">
    <fieldset>
    %if form.non_field_errors():
        <div class='alert alert-error'>${form.non_field_errors()}</div>
    %endif
        ${form.as_crispy}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" id="some-id">
            Find
        </button>
        <button type="reset" class="btn" id="clear-filter">
            Clear
        </button>
    </div>
    </fieldset>
</form>
        <div class="box-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">

      </div>
    </div>
  </div>
  <div class="col-md-2">

    {%get_itemtypes as item_types%}

    {%for item_type in item_types%}
    <!-- small box -->
    <div class="small-box {{item_type.color}}">
      <div class="inner">
        <h3>{{item_type.total}}</h3>

        <p>{{item_type.name}}</p>
      </div>
      <div class="icon">
        <i class="fa {{item_type.icon}}"></i>
      </div>
      <a href="/inventory/item/list?brand=&category=&item_type={{item_type.id}}" class="small-box-footer">Listele <i class="fa fa-arrow-circle-right"></i></a>
    </div>
    {%endfor%}
  <!-- ./col -->

</div>
</div>
{% endblock %}
