{% extends 'cruds/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load crud_tags %}
{% load static %}
{% load personnel_tags %}
{% load portunes_tags %}
{% block title %}Portunes Access Control{% endblock %}

{% block page_name %}Portunes Access Control{% endblock %}
{% block page_description %}Dashboard{% endblock %}

{% block bodyclass %}skin-purple {%if config.hide_sidebar %}sidebar-collapse{%endif%} {% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/portunes/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
</ol>
{% endblock %}

{% block content %}


<div class="row">
  <div class="col-md-4">
    <!-- PROJECTS -->
    <div class="box box-primary">

      <div class="box-header">
        <h3 class="box-title">Controllers</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>

      <div class="box-body">
        {% if controllers %}
          <div class="list-group">
            {% for controller in controllers %}
              {%if controller.health is True%}
              <a href="/portunes/controller/{{controller.id}}" type="button" class="btn btn-success btn-block">
              {%else%}
              <a href="/portunes/controller/{{controller.id}}" type="button" class="btn btn-danger btn-block">
              {%endif%}
              {{ controller.name }}</a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <!-- /.box-body -->
    </div>
  </div>

  <!-- /.col (left) -->
  <div class="col-md-5">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Actions</h3>
      </div>
      <div class="box-body">
        <div class="box-body">
        {% render_table action_table %}
        </div>
      </div>
<!-- /.box-body -->
    </div>
<!-- /.box -->
  </div>
  {%if request.GET.q %}
    {%search_user request.GET.q as user_table%}
  {%endif%}
  <div class="col-md-3">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Users</h3>

          <div class="col-lg-12">
              <form action="" method="get">
                  <div class="input-group">
                      <input type="text" name="q" {%if request.GET.q %} value="{{request.GET.q}}" {%endif%} class="form-control" placeholder="{% trans 'Search . . .' %}">
                      <span class="input-group-btn">
                          <button class="btn btn-primary" type="submit">
                              <i class="fa fa-search"></i>
                          </button>
                      </span>
                  </div>
              </form>
          </div>



      </div>
      <div class="box-body">
        <div class="box-body">
        {% render_table user_table %}
        </div>
      </div>
<!-- /.box-body -->
    </div>
<!-- /.box -->
  </div>
<!-- /.col (right) -->
</div>
<!-- /.row -->
{% endblock %}
