{% extends 'cruds/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crud_tags %}
{% load static %}
{% load detail_tags %}
{% load project_tags%}

{% block title %}Project{% endblock %}

{% block page_name %}Project{% endblock %}
{% block page_description %}Dashboard{% endblock %}

{% block bodyclass %}skin-yellow {%if config.hide_sidebar %}sidebar-collapse{%endif%} {% endblock %}

{% block page_javascript %}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="active"><a href="/project/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
</ol>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-5">
    <!-- PROJECTS -->
    <div class="box box-warning">

      <div class="box-header">
        <h3 class="box-title">Projects</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          <a href="/project/project/create" class="btn btn-primary">New Project</a>
        </div>
      </div>

      <div class="box-body">
        {% if projects %}
        <ul>
          {% for top_project in projects %}
          {% if top_project.top_project == null %}
            <li><a href="/project/task/list?project={{top_project.id}}&owner={{request.user.id}}">{{ top_project.name }}</a></li>
            <ul>
              {% for project in projects %}
                {% if project.top_project == top_project %}
                  <li><a href="/project/task/list?project={{project.id}}&owner={{request.user.id}}">{{ project.name }}</a></li>
                    <ul>
                    {% for sub_project in projects %}
                      {% if sub_project.top_project == project %}
                        <li><a href="/project/task/list?project={{sub_project.id}}&owner={{request.user.id}}">{{ sub_project.name }}</a></li>
                            <ul>
                              {% for sub2_project in projects %}
                                {% if sub2_project.top_project == sub_project %}
                                  <li><a href="/project/task/list?project={{sub2_project.id}}&owner={{request.user.id}}">{{ sub2_project.name }}</a></li>
                                {%endif%}
                              {% endfor %}
                            </ul>
                      {%endif%}
                    {% endfor %}
                    </ul>
                {%endif%}
              {% endfor %}
            </ul>
          {%endif%}
          {% endfor %}
      </ul>
      {% endif %}
      </div>
      <!-- /.box-body -->
    </div>
  </div>

  <!-- /.col (left) -->
  <div class="col-md-7">
    <div class="box box-warning">
      <div class="box-header">
        <h3 class="box-title">Tasks</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          <a href="/project/task/create" class="btn btn-primary">New Task</a>
        </div>
      </div>
      <div class="box-body">
        <div class="box-body">
          {%tasks 5 request as tasks%}
          {%for task in tasks%}
            <div class="info-box bg-{{task.task_type.color}}">
              <a href="/project/task/{{task.id}}" style="color:#fff;"><span class="info-box-icon"><i class="fa fa-{{task.task_type.icon}}"></i></span></a>

              <div class="info-box-content">
                <span class="info-box-text">{{task.name}}</span>
                <span class="info-box-number">{{task.start_date}} --> {{task.end_date}}</span>

                <div class="progress">
                  <div class="progress-bar" style="width: {{task.percent_done}}%"></div>
                </div>
                <span class="progress-description">
                      {%if task.top_task is not None %}Top task: <a href="/project/task/{{task.top_task.id}}">{{task.top_task}}</a>{%endif%}
                </span>
              </div>

          </div>
          {%endfor%}
        </div>
      </div>
<!-- /.box-body -->
    </div>
<!-- /.box -->
  </div>
<!-- /.col (right) -->
</div>
<!-- /.row -->
{% endblock %}
