{% extends 'adminlte/base.html' %}
{% load bootstrap %}
{% load detail_tags %}
{% load crispy_forms_tags %}

{% block title %}Stok Yönetimi{% endblock %}

{% block page_name %}Stok Yönetimi{% endblock %}
{% block page_description %}Dashboard{% endblock %}

{% block bodyclass %}skin-green{% endblock %}

{% block page_stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}


{% block page_javascript %}
{% endblock %}


{% block content %}
<!-- Small boxes (Stat box) -->
<div class="row">
  <div class="col-md-10">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Select2</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <form class="form-horizontal">
    <fieldset>
    %if form.non_field_errors():
        <div class='alert alert-error'>${form.non_field_errors()}</div>
    %endif
        ${form.as_crispy}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" id="some-id">
            Find
        </button>
        <button type="reset" class="btn" id="clear-filter">
            Clear
        </button>
    </div>
    </fieldset>
</form>
        <div class="box-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">

      </div>
    </div>
  </div>
  <div class="col-md-2">

    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3>150</h3>

        <p>Demirbaş</p>
      </div>
      <div class="icon">
        <i class="ion ion-monitor"></i>
      </div>
      <a href="list/itemtype/100/" class="small-box-footer">Listele <i class="fa fa-arrow-circle-right"></i></a>
    </div>

  <!-- ./col -->

    <!-- small box -->
    <div class="small-box bg-green">
      <div class="inner">
        <h3>200</h3>

        <p>Sarf</p>
      </div>
      <div class="icon">
        <i class="ion ion-document"></i>
      </div>
      <a href="list/itemtype/200/" class="small-box-footer">Listele <i class="fa fa-arrow-circle-right"></i></a>
    </div>

  <!-- ./col -->

    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3>44</h3>

        <p>Personel</p>
      </div>
      <div class="icon">
        <i class="ion ion-person-add"></i>
      </div>
      <a href="list/personnel/" class="small-box-footer">Listele <i class="fa fa-arrow-circle-right"></i></a>
    </div>

  <!-- ./col -->

    <!-- small box -->
    <div class="small-box bg-red">
      <div class="inner">
        <h3>3</h3>

        <p>Depo</p>
      </div>
      <div class="icon">
        <i class="ion ion-home"></i>
      </div>
      <a href="list/inventory/" class="small-box-footer">Listele <i class="fa fa-arrow-circle-right"></i></a>
    </div>

  <!-- ./col -->
</div>
</div>
{% endblock %}
