{% extends 'adminlte/base.html' %}
{% load bootstrap_calendar %}
{% load detail_tags %}

{% block title %}Stok Yönetimi - {% title %} {% endblock %}

{% block page_name %}Stok Yönetimi{% endblock %}
{% block page_description %}Dashboard{% endblock %}

{% block bodyclass %}skin-green{% endblock %}

{% block page_stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}


{% block page_javascript %}
{% endblock %}


{% block content %}
<!-- Small boxes (Stat box) -->
<div class="row">
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3>150</h3>

        <p>Demirbaş</p>
      </div>
      <div class="icon">
        <i class="ion ion-settings"></i>
      </div>
      <a href="#" class="small-box-footer">Listele <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
      <div class="inner">
        <h3>200</h3>

        <p>Sarf</p>
      </div>
      <div class="icon">
        <i class="ion ion-document"></i>
      </div>
      <a href="#" class="small-box-footer">Listele <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3>44</h3>

        <p>Personel</p>
      </div>
      <div class="icon">
        <i class="ion ion-person-add"></i>
      </div>
      <a href="#" class="small-box-footer">Listele <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-red">
      <div class="inner">
        <h3>3</h3>

        <p>Depo</p>
      </div>
      <div class="icon">
        <i class="ion ion-home"></i>
      </div>
      <a href="#" class="small-box-footer">Listele <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
</div>
{% endblock %}
