{% extends 'cruds/base.html' %}
{% load i18n %}
{% load crud_tags %}
{% load static %}
{% load render_table from django_tables2 %}
{% load inventory_tags %}
{% block title %}Inventory{% endblock %}

{% block page_name %}Inventory{% endblock %}
{% block page_description %}Detail{% endblock %}

{% block bodyclass %}skin-green {%if config.hide_sidebar %}sidebar-collapse{%endif%} {% endblock %}

{% block page_stylesheets %}
<!-- ChartJS 1.0.1 -->
<script src="{% static 'plugins/chartjs/Chart.min.js' %}"></script>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-3">
      <!-- Profile Image -->
      <div class="box box-success">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-rounded" src="{{ object.picture.url }}" alt="Fotoğraf">

          <h3 class="profile-username text-center">{{ object }}</h3>

          <p class="text-muted text-center">{{ object.category }}</p>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Item Type</b> <a class="pull-right">{{ object.item_type }}</a>
            </li>
            <li class="list-group-item">
              <b>Brand</b> <a class="pull-right">{{ object.brand }}</a>
            </li>
            <li class="list-group-item">
              <b>Model</b> <a class="pull-right">{{ object.model }}</a>
            </li>
            <li class="list-group-item">
              <b>Part Number</b> <a class="pull-right">{{ object.part_number }}</a>
            </li>



          </ul>
          {% if crud_perms.update %}
            <div class="col-md-12 col-lg-12 " align="center">
              <a href="/inventory/item/{{object.id}}/update" class="btn btn-primary" align="center">Update Details</a>
              <a data-toggle="modal" href="#ownershipModal" class="btn btn-success" align="center">Ownership</a>
            </div>
          {%endif%}
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

      <!-- About Me Box -->
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Details</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <strong><i class="fa fa-book margin-r-5"></i>Quantity</strong>

          <h2 class="text-primary text-center">{{ object.quantity }} {{object.unit}}</h2>

          <hr>

          <strong><i class="fa fa-map-marker margin-r-5"></i>Location</strong>

          <h3 class="text-success text-center">{{ object.inventory }} > {{ object.room }} > {{ object.shelf }} </h3>

          <hr>

          <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

          <p>{{ object.notes | safe }}</p>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#actions" data-toggle="tab">Actions</a></li>
        </ul>
        <div class="tab-content">
          <div class="active tab-pane" id="actions">
            <div class="box-body">
              <div class="row">
                  {% get_logs object.id as logs_table%}
                  {% render_table logs_table %}
              </div>

              </div>
          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

<!-- MODAL DIALOG -->
  <div class="modal fade" id="ownershipModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span> Item Ownership</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                <input type="text" class="form-control" id="usrname" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                <input type="text" class="form-control" id="psw" placeholder="Enter password">
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" checked>Remember me</label>
              </div>
              <button type="submit" class="btn btn-default btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
            <p>Not a member? <a href="#">Sign Up</a></p>
            <p>Forgot <a href="#">Password?</a></p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
