{% extends template_father %}
{% load i18n %}
{% load crud_tags %}
{% load inventory_tags %}


{% block title %} Inventory - Dashboard {% endblock %}
{% block bodyclass %}skin-green {%if config.hide_sidebar %}sidebar-collapse{%endif%} {% endblock %}
{% block page_name %} Inventory{% endblock %}
{% block page_description %} Dashboard {% endblock %}


{% block content %}
    <div class="row">
      {%get_itemtypes as item_types%}

      {%for item_type in item_types%}
      <div class="col-md-4">

        <!-- small box -->
        <div class="info-box">
            <a href="/inventory/item/list?brand=&category=&item_type={{item_type.id}}" class="small-box-footer">
            <span class="info-box-icon {{item_type.color}}"><i class="fa {{item_type.icon}}"></i></span>
            </a>
            <div class="info-box-content">
              <span class="info-box-number">{{item_type.name}}</span>
              <span class="info-box-text">Total: {{item_type.total}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>

      <!-- ./col -->
    </div>
    {%endfor%}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <div class="box-header">
                  <div class="row">
                    {% if url_create %}
                    <div class="col-lg-6">
                        {% crud_url object "create" namespace as url %}
                        {% if url and 'create' in views_available and crud_perms.create %}
                          <a href="{{ url }}{{getparams}}" class="btn btn-primary">
                              {% trans "New " %} {{ model_verbose_name }}</a>
                          {%endif%}
                          <a data-toggle="modal" href="#ownershipModal" class="btn btn-success" align="center">Ownership</a>
                    </div>
                    {% endif %}
                    {% if search %}
                    <div class="col-lg-6">
                        <form action="" method="get">
                            <div class="input-group">
                                <input type="text" name="q" value="{{q}}" class="form-control" placeholder="{% trans 'Ara...' %}">
                                <span class="input-group-btn">
                                    <button class="btn btn-flat" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                </div>

                {% if filters %}
                <br />
                        <form action="" method="get">
                            <table class="table">
                                {% for filter in filters %}
                                {{filter.render }}
                                {% endfor %}

                            </table>
                            <input type="submit" class="btn btn-info" value="Filter" />
                            <a  class="btn btn-warning" href="?"> {% trans 'Clean filter' %} </a>
                        </form>
                </div>
                <!-- /.box-body -->
            </div>
                    {% endif%}
        </div>

    </div>
    <div class="box-body">
      <table id="datatable" class="table table-bordered table-hover">
  <div class="box-body">
  {% if paginate_position == 'Up' or paginate_position == 'Both' %}
      {% include paginate_template %}
  {% endif %}
      <table id="datatable" class="table table-responsive table-bordered table-hover">
      {% if object_list %}
          <thead>
              {% block thead %}
              {% for field, field_name in fields.items %}
              <th class="th-field-{{ field|lower }} th-fieldtype-{{ field_name.1|lower }}">{{ field_name.0 }}</th>
              {% endfor %}
              <th>{% trans "Actions" %}</th>
              {% endblock thead %}
          </thead>
          <tbody>
            {% block tbody %}
            {% for object in object_list %}
              <tr>
                {% for field, field_name in fields.items %}
                <td class="td-field-{{ field|lower }} td-fieldtype-{{ field_name.1|lower }}">
                  {% with column=field_name.1|lower|add:".html" %}
                      {% include "cruds/columns/"|add:column %}
                  {% endwith %}
                  {# typefield #}
                </td>
                {% endfor %}
                <td>
                  {% block actions %}
                    {% crud_url object "detail" namespace as url %}
                      {% if url and 'detail' in views_available and crud_perms.detail %}
                      <a href="{{ url }}{{getparams}}" class="btn btn-success">{% trans "Detail" %}</a>
                      {% endif %}
                      {% crud_url object "update" namespace as url %}
                      {% if url and 'update' in views_available and crud_perms.update %}
                      <a href="{{ url }}{{getparams}}" class="btn btn-primary">{% trans "Update" %}</a>
                      {% endif %}
                      {% crud_url object "delete" namespace as url %}
                      {% if url and 'delete' in views_available and crud_perms.delete %}
                      <a href="{{ url }}{{getparams}}" class="btn btn-danger">{% trans "Delete" %}</a>
                      {% endif %}
                  {% endblock %}
                </td>
              </tr>
            {% endfor %}
            {% endblock tbody %}
          </tbody>
      {% else %}
        <thead><th></th></thead>
        <tbody><tr><td>{% trans "No items yet." %}</td></tr></tbody>
      {% endif %}
      </table>

      {% if paginate_position == 'Bottom' or paginate_position == 'Both' %}
    {% include paginate_template %}
  {% endif %}

  </div>

  <div class="box-footer"></div>
</div>


    <!-- MODAL DIALOG -->
      <div class="modal fade" id="ownershipModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 style="color:green;"><span class="glyphicon glyphicon-random"> </span>  Item Ownership</h4>
              </div>
              <div class="modal-body">
                <div class="col-md-12">
                  <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#give" data-toggle="tab">Give to User</a></li>
                      <li class=""><a href="#release" data-toggle="tab">Release to Inventory</a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active" id="give">
                          <div class="box-body">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label>Item</label>
                                <select class="itemTemplateSelect form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                  {%get_items as items%}
                                  {%for item in items%}
                                  <option>{{item.category}} - {{item}} - {{item.code}} </option>
                                  {%endfor%}
                                </select>
                              <!-- /.form-group -->
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group">
                              <label>User</label>
                              <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                {%get_users as users%}
                                {%for user in users%}
                                <option>{{user.first_name}} {{user.last_name}} </option>
                                {%endfor%}
                              </select>
                            <!-- /.form-group -->
                          </div>
                        </div>
                      </div>
                      <!-- /.tab-pane -->
                    </div>

                    <div class="tab-pane" id="release">
                        <div class="box-body">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Item</label>
                            <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                              {%get_items as items%}
                              {%for item in items%}
                              <option><img src="{{item.picture.url}}" class="img-flag">{{item.category}} - {{item}} - {{item.code}} </option>
                              {%endfor%}
                            </select>
                          <!-- /.form-group -->
                        </div>
                      </div>
                    </div>
                    <!-- /.tab-pane -->
                  </div>
                    <!-- /.tab-content -->
                  </div>
                  <!-- /.nav-tabs-custom -->
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <!-- /MODAL DIALOG -->

<script>
$(document).ready(function(){
  function formatState (option) {
    if (!option.id) { return option.text; }
    console.log(option);
    var $option = $(
      '<span><img src="/' + option.id  + '" class="img-flag" /> ' + option.text + '</span>'
    );
    return $option;
  };

  $(".itemTemplateSelect").select2({
    templateResult: formatState,
    templateSelection: formatState
  });
})

</script>

{% endblock content %}
