{% extends template_father %}
{% load i18n %}
{% load crud_tags %}
{% load inventory_tags %}


{% block title %} Inventory - Dashboard {% endblock %}
{% block bodyclass %}skin-green {%if config.hide_sidebar %}sidebar-collapse{%endif%} {% endblock %}
{% block page_name %} Inventory{% endblock %}
{% block page_description %} Dashboard {% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{request.path}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active"></li>
</ol>
{% endblock %}

{% block content %}
    <div class="row">
      {%get_itemtypes as item_types%}

      {%for item_type in item_types%}
      <div class="col-md-4">

        <!-- small box -->
        <div class="info-box">
            <a href="/inventory/item/list?brand=&category=&item_type={{item_type.id}}" class="small-box-footer">
            <span class="info-box-icon {{item_type.color}}"><i class="fa {{item_type.icon}}"></i></span>
            </a>
            <div class="info-box-content">
              <span class="info-box-number">{{item_type.name}}</span>
              <span class="info-box-text">Total: {{item_type.total}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>

      <!-- ./col -->
    </div>
    {%endfor%}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                  <div class="row">
                    {% if url_create %}
                    <div class="col-lg-6">
                        {% crud_url object "create" namespace as url %}
                        {% if url and 'create' in views_available and crud_perms.create %}
                          <a href="{{ url }}{{getparams}}" class="btn btn-primary">
                              {% trans "New " %} {{ model_verbose_name }}</a>
                          {%endif%}
                    </div>
                    {% endif %}
                    {% if search %}
                    <div class="col-lg-6">
                        <form action="" method="get">
                            <div class="input-group">
                                <input type="text" name="q" value="{{q}}" class="form-control" placeholder="{% trans 'Find with item code...' %}">
                                <span class="input-group-btn">
                                    <button class="btn btn-flat" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                </div>

                {% if filters %}
                <br />
                        <form action="" method="get">
                            <table class="table">
                                {% for filter in filters %}
                                {{filter.render }}
                                {% endfor %}

                            </table>
                            <input type="submit" class="btn btn-info" value="Filter" />
                            <a  class="btn btn-warning" href="?"> {% trans 'Clean filter' %} </a>
                        </form>
                </div>
                <!-- /.box-body -->
            </div>
                    {% endif%}
        </div>

    </div>
{%if request.GET.list_type == 'box_list'%}

<div class="box-body">
  <table id="datatable" class="table table-bordered table-hover">
<div class="box-body">
{% if paginate_position == 'Up' or paginate_position == 'Both' %}
  {% include paginate_template %}
{% endif %}
  <table id="datatable" class="table table-responsive table-bordered table-hover">
  {% if object_list %}

        {% for object in object_list %}
          <div class="col-md-3 d-flex align-content-stretch flex-wrap">
            <!-- Profile Image -->
            <div class="box box-success ">
              <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-rounded" src="{{ object.picture.url }}" alt="Fotoğraf">

                <h3 class="profile-username text-center">{{ object }}</h3>

                <p class="text-muted text-center">{{ object.category }}</p>

                <ul class="list-group list-group-unbordered">
                  <li class="list-group-item">
                    <b>Brand</b> <a class="pull-right">{{ object.brand }}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Model</b> <a class="pull-right">{{ object.model }}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Inventory</b> <a class="pull-right">{{ object.inventory }}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Location</b> <a class="pull-right">{{ object.shelf }}</a>
                  </li>

                </ul>
                {% if crud_perms.update %}
                <div class="col-md-12 col-lg-12 " align="center">
                  <a href="/inventory/item/{{object.id}}" class="btn btn-primary" align="center">Details</a>
                </div>
                {%endif%}
              </div>
              <!-- /.box-body -->
            </div>

            <!-- /.box -->
          </div>
        {% endfor %}

  {% else %}
    <thead><th></th></thead>
    <tbody><tr><td>{% trans "No items yet." %}</td></tr></tbody>
  {% endif %}
  </table>

  {% if paginate_position == 'Bottom' or paginate_position == 'Both' %}
{% include paginate_template %}
{% endif %}

</div>

<div class="box-footer"></div>
</div>
{%else%}
<div class="box-body">
  <table id="datatable" class="table table-bordered table-hover">
<div class="box-body">
{% if paginate_position == 'Up' or paginate_position == 'Both' %}
  {% include paginate_template %}
{% endif %}
  <table id="datatable" class="table table-responsive table-bordered table-hover">
  {% if object_list %}
      <thead>
          {% block thead %}
          {% for field, field_name in fields.items %}
          <th class="th-field-{{ field|lower }} th-fieldtype-{{ field_name.1|lower }}">{{ field_name.0 }}</th>
          {% endfor %}
          <th>{% trans "Actions" %}</th>
          {% endblock thead %}
      </thead>
      <tbody>
        {% block tbody %}
        {% for object in object_list %}
          <tr>
            {% for field, field_name in fields.items %}
            <td class="td-field-{{ field|lower }} td-fieldtype-{{ field_name.1|lower }}">
              {% with column=field_name.1|lower|add:".html" %}
                  {% include "cruds/columns/"|add:column %}
              {% endwith %}
              {# typefield #}
            </td>
            {% endfor %}
            <td>
              {% block actions %}
                {% crud_url object "detail" namespace as url %}
                  {% if url and 'detail' in views_available and crud_perms.detail %}
                  <a href="{{ url }}{{getparams}}" class="btn btn-success">{% trans "Detail" %}</a>
                  {% endif %}
                  {% crud_url object "update" namespace as url %}
                  {% if url and 'update' in views_available and crud_perms.update %}
                  <a href="{{ url }}{{getparams}}" class="btn btn-primary">{% trans "Update" %}</a>
                  {% endif %}
                  {% crud_url object "delete" namespace as url %}
                  {% if url and 'delete' in views_available and crud_perms.delete %}
                  <a href="{{ url }}{{getparams}}" class="btn btn-danger">{% trans "Delete" %}</a>
                  {% endif %}
              {% endblock %}
            </td>
          </tr>
        {% endfor %}
        {% endblock tbody %}
      </tbody>
  {% else %}
    <thead><th></th></thead>
    <tbody><tr><td>{% trans "No items yet." %}</td></tr></tbody>
  {% endif %}
  </table>

  {% if paginate_position == 'Bottom' or paginate_position == 'Both' %}
{% include paginate_template %}
{% endif %}

</div>

<div class="box-footer"></div>
</div>
{%endif%}

{% endblock content %}
