{% extends template_father %}
{% load i18n %}
{% load crud_tags %}

{% block title %} {{ model_verbose_name_plural }}{% trans " list" %}{% endblock %}
{% block bodyclass %}skin-green {%if config.hide_sidebar %}sidebar-collapse{%endif%} {% endblock %}
{% block page_name %}{{ model_verbose_name_plural }}{% endblock %}
{% block page_description %}{{ model_verbose_name_plural }}{% trans " listesi" %}{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <div class="box-header">
                  <div class="row">
                    {% if url_create %}
                    <div class="col-lg-6">
                        {% crud_url object "create" namespace as url %}
                        {% if url and 'create' in views_available and crud_perms.create %}
                          <a href="{{ url }}{{getparams}}" class="btn btn-primary">
                              {% trans "Yeni " %} {{ model_verbose_name }}</a>
                          {%endif%}
                    </div>
                    {% endif %}
                    {% if search %}
                    <div class="col-lg-6">
                        <form action="" method="get">
                            <div class="input-group">
                                <input type="text" name="q" value="{{q}}" class="form-control" placeholder="{% trans 'Ara...' %}">
                                <span class="input-group-btn">
                                    <button class="btn btn-flat" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                </div>

                {% if filters %}
                <br />

                <div class="box box-warning collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{% trans 'Filtrele' %}</h3>
                        <div class="box-tools pull-right">
                            <button data-widget="collapse" class="btn btn-box-tool btn-success" type="button">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="">
                        <form action="" method="get">
                            <table class="table">
                                {% for filter in filters %}
                                {{filter.render }}
                                {% endfor %}
                    </div></div>

                            </table>
                            <input type="submit" class="btn btn-info" value="{% trans 'Filter' %}" />
                            <a  class="btn btn-warning" href="?"> {% trans 'Clean filter' %} </a>
                        </form>
                </div>
                <!-- /.box-body -->
            </div>
                    {% endif%}
        </div>
    </div>
    <div class="row">
      {% if object_list %}
      {% for object in object_list %}
      <div class="col-md-2">
        <div class="box box-success">
          <div class="box-body box-profile">
            <a href="/inventory/item/{{object.id}}"><img class="profile-user-img img-responsive img-rounded" src="{{ object.picture.url }}" alt="Fotoğraf"></a>

            <h3 class="profile-username text-center">{{ object }}</h3>

            <p class="text-muted text-center">{{ object.category }}</p>

            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b>Item Type</b> <a class="pull-right">{{ object.item_type }}</a>
              </li>
              <li class="list-group-item">
                <b>Brand</b> <a class="pull-right">{{ object.brand }}</a>
              </li>
              <li class="list-group-item">
                <b>Model</b> <a class="pull-right">{{ object.model }}</a>
              </li>
              <li class="list-group-item">
                <b>Part Number</b> <a class="pull-right">{{ object.part_number }}</a>
              </li>



            </ul>
            {% if crud_perms.update %}
              <div class="col-md-12 col-lg-12 " align="center">
                {% block actions %}
                  {% crud_url object "detail" namespace as url %}
                    {% if url and 'detail' in views_available and crud_perms.detail %}
                        <a href="{{ url }}{{getparams}}" class="btn btn-success">{% trans "Detail" %}</a>
                    {% endif %}  
                {% endblock %}
              </div>
            {%endif%}
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      {% endfor %}
      {%endif%}
    </div>
{% endblock content %}
